
<!-- Toolbar -->
<div class="toolbar" role="banner" style="position: fixed !important; z-index: 1001 !important;">
  <img
    width="60"
    alt="Angular Logo"
    src="https://thaisplicando.com/static/a540112efc572377e0f14e7cd1376095/5890a/thais-blog.jpg"
    style="margin-left: 60px; border-radius: 50% !important;"
  />
  <span style="font-size: 20px;"><b>Thais</b>crevendo</span>
    <div class="spacer"></div>
    <a href="https://github.com/thaisribeiro/text_summarizer_api" target="_blank">
        <img
          width="60"
          alt="Angular Logo"
          src="https://github.githubassets.com/images/modules/logos_page/Octocat.png"
          style="margin-right: 1px;"
        />
    </a>
    <a href="https://www.instagram.com/thaisplicandoo/" target="_blank">
      <img
        width="50"
        alt="Angular Logo"
        src="https://static.wixstatic.com/media/5a5f80_4b75786230a34399bc5a5841d496fee2~mv2.png/v1/fill/w_600,h_600,al_c,usm_0.66_1.00_0.01/580b57fcd9996e24bc43c521.png"
        style="margin-left: 1px; margin-right: 1px;"
      />
    </a>
    <a href="https://twitter.com/thaisplicandoo" target="_blank">
      <img
        width="50"
        alt="Angular Logo"
        src="https://clipartcraft.com/images/white-twitter-logo-icon-8.png"
        style="margin-left: 1px;"
      />
    </a>
</div>

<div class="content" role="main">

  <app-render></app-render>

</div>


<router-outlet></router-outlet>