
.canvas{
    padding: 0;
    margin: auto;
    display: block;
}

.div-light{
    display:inline-block !important;
    align-self: center !important;
    padding-right: 50px !important;
}

.div-textures{
    display:inline-block !important;
    padding-right: 50px !important;
}

.div-lighting{
    display:inline-block !important;
}